<div class="row">
    <div class="col-md-2 center grey">Total Trucks <br> {{totaltrucks}} </div>
    <div class="col-md-2 center">Running Trucks <br> {{runningtruck}}</div>
    <div class="col-md-2 center">Stopped Trucks <br> {{stoppedtruck}}</div>
    <div class="col-md-2 center">Idle Trucks <br> {{idletruck}}</div>
    <div class="col-md-2 center">Error Trucks <br> {{errortruck}}</div>
</div>
