<div class="row">
    <div class="col-md-12">
        <app-topnavbar></app-topnavbar>    
    </div>
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
        <app-map></app-map>
    </div>
</div>
<router-outlet></router-outlet>
