<div class="box1">
    <div class="row" *ngFor="let truck of truckList">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    {{truck.truckNumber}} &nbsp;<img src="../../assets/download.png" width="30px"> 
                </div>
                <div class="col-md-3">
                    22min
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Stopped since last 11 d
                </div>
            </div>
        </div>
        <hr>
      
    </div>
</div>
